@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@900&family=Young+Serif&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */

/* inizio navbar */
#nav {
  background-image: url(https://i.etsystatic.com/24813390/r/il/9d7633/2624111300/il_1140xN.2624111300_jc8a.jpg) ;
  font-family: 'Indie Flower', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Young Serif', serif;
  font-weight: 900;
}
#secondNav {
  font-family: 'Indie Flower', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Young Serif', serif;
  font-weight: 900;
}
/* #title {
  background-color: #2e2ea8;
  padding: 0.3em
} */
.speech-bubble {
  position: relative;
  background-color:white;
  /* width: 100px;*/
  /* height: 70px;  */
  /* line-height: 150px;  */
  /* color: white; */
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
  border: 2px solid;
 

}
.speech-bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
}
.speech-bubble-top:after {
 
  border-bottom-color: white;
  left: 50%;
  bottom: 100%;
  margin-left: -15px;
}

#toggle {
  background-color:white;
}
.color-word{
 color: rgb(33, 33, 33);
}

/* fine navbar */
/* inizio footer */
#Footer {
  background-image: url(https://i.etsystatic.com/24813390/r/il/9d7633/2624111300/il_1140xN.2624111300_jc8a.jpg) ;
  font-family: 'Indie Flower', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Young Serif', serif;
  font-weight: 900;
  color:rgb(33, 33, 33);
  height: 50px;
  margin-top: 2em;
}
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
/* card fumetti qui sotto */
#cardBook {
  transition: transform 0.3s ease;
}
#cardBook :hover {
  transform: translateY(-10px);
}
#cardBook div:not(.exclude-hover):hover {
  transform: translateY(0px);
}
#cardBook span:not(.exclude-hover):hover {

  transform: translateY(0px);
}
#cardBook svg:not(.exclude-hover):hover {

  transform: translateY(0px);
}
#cardBook path:not(.exclude-hover):hover {
  transform: translateY(0px);
}

/* animazione */

  .flicker-in-1 {
    width: 300px;
    height: 350px;
  border-radius: 10%;
    -webkit-animation: flicker-in-1 2s linear both;
            animation: flicker-in-1 2s linear both;
  }
  @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
 
#register-form {
 margin: 0 5em;
}
.inizialPar{
  cursor: pointer;
}
.cardInterna{
  font-family: 'Roboto', sans-serif;
  color:rgb(46, 46, 46);
  

}
/* #cardImg{

} */
/* card del carrello */
#cardCart {
  border: 3px solid;
}
/* titolo card carrello */
.card-title{
  border-bottom: 1px solid;
}
 /* remove in carrello */
 #removeInCart {
  font-size: 40px;
    color: white;
    background-color: red;
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer
 }
 #addInCart {
  font-size: 25px;
    color: white;
    background-color:black;
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer
 }
 #buttonAcquista {
  font-size: 25px;
  color: black;
  background-color: rgba(241, 220, 31, 0.654);
  padding: 10px 70px;
  margin: 3px;
  border-radius: 10px;
  border: 0px solid;
  cursor: pointer
 }